* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
header {
  padding: 0;
  margin: 0;
  min-height: 10%;
  height: auto;
  width: 100%;
  background-color: #4ecdc4;
}
main {
  padding: 0;
  margin: 0;
  min-height: 90%;
  height: auto;
  width: 100%;
}

.eventsTitle {
  padding-top: 30px;
  padding-left: 50px;
}
#eventsContainer {
  background-color: #4ecdc4;
  min-height: 40%;
  height: auto;
  width: 100%;
}
.planningTitle {
  padding-left: 50px;
  padding-right: 50px;
}
#planningContainer {
  background-color: #f5a623;
  min-height: 50%;
  height: auto;
  width: 100%;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
}
h3 {
  padding-top: 40px;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.624);
}

p {
  font-size: 18px;
}

.eventCard p,
.eventCardClone p {
  height: 20px;
  padding-bottom: 20px;
  font-weight: lighter;
}
.eventDate {
  font-size: 18px;
}
#scrollEventsContainer,
#scrollPlanningContainer {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  gap: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.eventCard,
.eventCardClone {
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: 250px;
  height: 270px;
  text-align: center;
  font-weight: bold;
  scroll-snap-align: start;
  background-color: #f7fff7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.eventTitle {
  flex-wrap: wrap;
  font-size: 22px;
  height: 100px;
  color: #40ada6;
  font-weight: bold;
}
button {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

button:hover {
  filter: brightness(80%);
  transition: all 0.3s ease-in-out;
}

.detailsButton {
  background-color: #4cbbb4;
  color: white;
  cursor: pointer;
}
.planningButton,
.removeButton {
  background-color: #f5a623;
  color: white;
  cursor: pointer;
}
#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 300px;
  height: auto;
  width: 450px;
  border-radius: 5%;
}
#modalUrl {
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}

#closeModal {
  text-align: right;
  color: red;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.darkModeImage {
  position: absolute;
  top: -45px;
  right: 10px;
  width: 150px;
  height: auto;
  cursor: pointer;
}

/* -------------------------------------Media Queries------------------------------------------------------- */

@media screen and (max-width: 768px) {
  body {
    overflow-y: auto;
  }

  #eventsContainer,
  #planningContainer {
    height: auto;
  }
  .eventCard,
  .eventCardClone {
    min-width: 200px;
    height: auto;
  }
  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
  }

  #modal {
    width: 250px;
    min-height: 450;
    height: auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  .darkModeImage {
    position: absolute;
    top: -80px;
  }
  .eventsTitle {
    padding-top: 50px;
  }

  /* -------------------------------------Dark-Mode------------------------------------------------------- */
}
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode header,
.dark-mode #eventsContainer {
  background-color: #222;
}

.dark-mode #planningContainer {
  background-color: #333;
}
.dark-mode h1,
.dark-mode h3,
.dark-mode p {
  color: white;
}
.dark-mode a {
  color: #f5a623;
}
.dark-mode .eventTitle {
  color: #57e8de;
}
.dark-mode .detailsButton {
  background-color: #4ecdc4;
}
.dark-mode .planningButton {
  background-color: #f5a623;
}

.dark-mode .eventCard,
.dark-mode .eventCardClone,
.dark-mode #modal {
  background-color: #444;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
