* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode #eventsContainer {
  background-color: #222;
}

.dark-mode #planningContainer {
  background-color: #333;
}

.dark-mode h2,
.dark-mode p {
  color: white;
}

.dark-mode #eventCard,
.dark-mode .eventCardClone,
.dark-mode #modal {
  background-color: #444;
}

.darkModeImage {
  width: 40px;
  height: 40px;
  background-image: url(https://res.cloudinary.com/dwkyezu2u/image/upload/v1747942220/pngegg_wdujmn.png);
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.eventsTitle {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}
#eventsContainer {
  background-color: #4ecdc4;
  min-height: 50%;
  height: auto;
  width: 100%;
}
.planningTitle {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
#planningContainer {
  background-color: #f5a623;
  min-height: 50%;
  height: auto;
  width: 100%;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  color: white;
}
p {
  font-size: 15px;
  font-weight: lighter;
  height: 50px;
}
#eventDate {
  font-size: 18px;
}
#scrollEventsContainer,
#scrollPlanningContainer {
  display: flex;

  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 50px;
  gap: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

#eventCard,
.eventCardClone {
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: 250px;
  height: 270px;
  text-align: center;
  font-weight: bold;
  scroll-snap-align: start;
  background-color: #f7fff7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#eventTitle {
  flex-wrap: wrap;
  font-size: 22px;
  height: 100px;
  color: #4ecdc4;
  font-weight: bold;
}
button {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.detailsButton {
  background-color: #4ecdc4;
  color: white;
  cursor: pointer;
}
.planningButton,
.removeButton {
  background-color: #f5a623;
  color: white;
  cursor: pointer;
}
#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 300px;
  height: auto;
  width: 400px;
}
#closeModal {
  text-align: right;
  color: red;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: auto;
  }

  #eventsContainer,
  #planningContainer {
    height: auto;
  }
  #eventCard,
  .eventCardClone {
    min-width: 200px;
    height: auto;
  }

  button {
    width: 100%;
  }

  #modal {
    width: 250px;
    height: auto;
  }
}
